@media (max-width:680px) {
    #header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #header h1 {
        font-size: 28px;
    }

    #header p {
        font-size: 20px;
        font-style: italic;
    }

    #contatos {
        display: flex;
        flex-direction: column;
    }

    #contatos ul {
        align-items: center;
        text-decoration: none;
        border: solid 1px;
        border-radius: 50%;
    }

    #contatos img {}

    #contatos ul li a {
        text-decoration: none;
        padding: 15px;
    }
}