@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1E1E1E;
    color: white;
}

main {
    display: flex;
}

#main #infos {
    width: 100vw;
    height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
}

section#header img {
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.753);
    margin-left: 60px;
    margin-top: 70px;
    margin-right: 24px;
}

#header h1 {
    color: white;
    font-family: Poppins;
    font-style: Bolder;
    font-size: 36px;
    padding-top: 138px;
    font-weight: 600;
}

#header p {
    color: #B3B3B3;
    font-style: regular;
    font-size: 30px;

}

div {
    display: flex;
    flex-direction: column;
}

section#xp {
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    padding-left: 60px;
    color: #ffffffef;
}

section#xp h2 {
    padding: 40px 0px;
}

#xp p {
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    color: #B3B3B3;
}

#ex-bar-1 {
    padding: 36px 0 36px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ex-bar-1 img {
    width: 36px;
    height: 34px;
    margin-bottom: 16px ;
}

#ex-bar {
    margin-bottom: 30px;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 300;
    text-align: center;
    width: 299px;
    height: 28px;
    background-image: linear-gradient(90deg, #777CF4 0%, #F47777 100%);
    border-radius: 24px;
    color: white;
    font-size: 17px;
    font-weight: 300;
}
#info {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    align-items: end;
    padding-right: 55px;
}

#linguas {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-end;
}

#linguas h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    padding: 30px 0px;
    color: white;
}

#linguas p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #B3B3B3;
}

#educacao {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#educacao h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    width: 30%;
}

#educacao p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #B3B3B3;
    width: 20%;
    padding: 46px 17px;
    margin-right: 80px;
}

#educacao div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#contatos {
    padding-top: 92px;
}

#contatos ul {
    list-style: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 34px;
}

#contatos ul li a {
    height: 50px;
    width: 50px;
    border: solid 1px white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    width: 325px;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 32px 60px 89px 0;
    background-image: linear-gradient(90deg, #777CF4 0%, #F47777 100%);
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    gap: 19px;
    text-decoration: none;
}

li:hover {
    filter: blur(0, 9px);
    transform: translate(-8px, -8px);
    box-shadow: 5px 6px 10px rgba(255, 255, 255, 0.181);
    transition: transform 0.4s, .4s;
    border-radius: 50%;
}

button:hover {
    transform: translate(-8px, -8px);
    box-shadow: 5px 6px 15px rgba(255, 255, 255, 0.181);
    transition: transform 0.4s, .4s;
}